.doctors .card-header { 
    background-color: #eaf6fc !important;
    border-radius: 5px !important;
}

.doctors .card-header img {
    transform: translateY(12px);
    
}

.doctors {
    border-radius: 10px !important;
}