.customActive {
  background-color: rgba(0, 158, 240, 0.21) !important;
  color: #00b0ff !important;
  border-radius: 8px !important;
  padding: 8px 20px !important;
}

@media only screen and(max-width: 992px) {
    .navbar-nav {
        text-align: center !important;
    }
}

@media only screen and(max-width: 466px) {
    .navbar-nav {
        width: 100% !important;
        text-align: center !important;
    }

    .responsive-logo {
        display: flex;
        width: 100%;
        justify-content: center;
    }
}