.Newsletter {
    margin-bottom: 100px;

    input {
        padding: 30px 20px;
        width: 100%;
        padding-left: 10px !important;
        border: 0;
        outline: 0;
        border-radius: 0 10px 10px 0;

        &:focus {
            border: 0 !important;
            box-shadow: none !important;
        }
    }

    button {
        margin-left: -125px !important;
        height: 50px !important;
        z-index: 1000 !important;
        background-color: #29a9e1 !important;
        border-radius: 6px !important;
        border-color: transparent !important;

        &:hover {
            border-color: transparent !important;
        }
    }

    .input-group-text {
        padding-right: 0px !important;
        border: 0;
        border-radius: 10px 0 0 10px;
    }
}