.my-footer {
  @include morphism;
}

.social-Media img {
  cursor: pointer !important;
}

hr {
  border-width: 2px;
  border-color: white;
  margin-left: 20px;
  margin-right: 20px;
}

@media only screen and (max-width: 992px) {
  .my-footer {
    text-align: center !important;
  }

  .social-Media {
    justify-content: center !important;
  }

  .space-between {
    display: none !important;
  }

  .contact {
    display: flex !important;
    align-items: center !important;
    margin: 0px auto !important;
    margin-top: -30px !important;
  }
}

@media only screen and (max-width: 768px) {
  .contact {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
}


@media only screen and (max-width: 553px) {
  .my-footer h1 {
    font-size: 18px;
  }

  .my-footer p {
    font-size: 16px;
  }
}